<%= nested_form_for team do |f| %>
  <%= error_messages!(team) %>
	<div class="form-group">
		<%= f.label :name, class: 'form-controll-label' %>
	  <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group nested-team-players">
    <% player_n = 0 %>
    <%= f.fields_for :team_players do |team_player| %>
      <% player_n += 1 %>
      <%= team_player.label "player#{player_n}", class: 'form-controll-label label-player-session' %>
      <%= team_player.select(:user_id, @users.map { |e|  [e.full_name, e.id] }, { :prompt => "Select player"}, {class: "form-control"} )%>
      <% if player_n > 1 %>
        <%= team_player.link_to_remove "Remove Player" %>
      <% end %>
    <% end %>
    <% if team.team_players.count < 2 %>
      <%= f.link_to_add "Add player", :team_players, class: "btn btn-success" %>
    <% end %>
  </div>
  <div class="form-group">
  	<%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>